.fourthBlock {
  width: 100%;
  height: 412px;
  margin-top: 50px;
}
.fourthBlock .sectionInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fourthBlock .information {
  order: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 26%;
  height: 100%;
}
.fourthBlock .information .title {
  font-family: "almoni";
  font-weight: 900;
  font-size: 38px;
  color: #0F2350;
  margin-bottom: 34px;
}
.fourthBlock .information .subTitle {
  font-family: "almoni";
  font-weight: 500;
  font-size: 20px;
  text-align: end;
  color: #0F2350;
}
.fourthBlock .contacts {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 28%;
}
.fourthBlock .contacts .title {
  font-family: "almoni";
  font-weight: 900;
  font-size: 38px;
  color: #0F2350;
  margin-bottom: 34px;
}
.fourthBlock .contacts .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
  text-align: end;
  font-size: 160%;
}
.fourthBlock .contacts .contact > img {
  margin-left: 20px;
}
.fourthBlock .contacts .contact .firstLine {
  font-family: "almoni";
  font-weight: 700;
  font-size: 22px;
}
.fourthBlock .contacts .contact .secondLine {
  color: #070F22;
  font-style: normal;
  font-family: "almoni";
  font-weight: 500;
  font-size: 18px;
}
.fourthBlock .contacts .contact a {
  color: #070F22;
}
.fourthBlock .form {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 36%;
}
.fourthBlock .form .title {
  font-family: "almoni";
  font-weight: 900;
  font-size: 38px;
  color: #0F2350;
  margin-bottom: 34px;
  width: 100%;
  text-align: end;
}
.fourthBlock .form .firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.fourthBlock .form .firstLine div {
  text-align: end;
  width: 100%;
}
.fourthBlock .form .firstLine div label {
  font-family: "almoni";
  font-weight: 700;
  font-size: 16px;
}
.fourthBlock .form .firstLine div input {
  margin: 5px 0;
  line-height: 1;
}
.fourthBlock .form .firstLine div input,
.fourthBlock .form .commentsArea {
  width: 100%;
  padding: 10px;
  font-size: 160%;
  text-align: right;
}
.fourthBlock .form .firstLine div,
.fourthBlock .form .commentsArea {
  line-height: 1;
  resize: none;
}
.fourthBlock .form .btn {
  width: 418px;
  margin: 16px 0;
  height: 48px;
  border: none;
  background-color: #CE2C15;
  color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.fourthBlock .form .btn .btnText {
  font-family: "almoni";
  font-weight: 700;
  font-size: 20px;
  margin-right: 171px;
}
.fourthBlock .form .btn img {
  margin-right: 114px;
}
.fourthBlock .form .FIOConteiner {
  order: 2;
  margin-left: 10px;
}
.fourthBlock .form .PHONEConteiner {
  order: 1;
  margin-right: 10px;
}
.fourthBlock .form .commentLabel {
  margin-bottom: 7px;
  margin-top: 10px;
  font-family: "almoni";
  font-weight: 700;
  font-size: 16px;
}