.fourthBlock {
  width: 100%;
  height: 25.75rem;
  margin-top: 50px;
}
.fourthBlock .sectionInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.fourthBlock .information {
  order: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 26%;
  height: 100%;
}
.fourthBlock .information .title {
  font-family: "almoni";
  font-weight: 900;
  font-size: 2.375rem;
  color: #0F2350;
  margin-bottom: 2.125rem;
}
.fourthBlock .information .subTitle {
  font-family: "almoni";
  font-weight: 500;
  font-size: 1.25rem;
  text-align: end;
  color: #0F2350;
}
.fourthBlock .contacts {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 28%;
}
.fourthBlock .contacts .title {
  font-family: "almoni";
  font-weight: 900;
  font-size: 2.375rem;
  color: #0F2350;
  margin-bottom: 2.125rem;
}
.fourthBlock .contacts .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: end;
  font-size: 1rem;
}
.fourthBlock .contacts .contact > img {
  margin-left: 1.25rem;
  width: 3rem;
  height: 3rem;
}
.fourthBlock .contacts .contact .firstLine {
  font-family: "almoni";
  font-weight: 700;
  font-size: 1.375rem;
}
.fourthBlock .contacts .contact .secondLine {
  color: #070F22;
  font-style: normal;
  font-family: "almoni";
  font-weight: 500;
  font-size: 1.125rem;
}
.fourthBlock .contacts .contact a {
  color: #070F22;
}
.fourthBlock .form {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 36%;
}
.fourthBlock .form .title {
  font-family: "almoni";
  font-weight: 900;
  font-size: 2.375rem;
  color: #0F2350;
  margin-bottom: 2.125rem;
  width: 100%;
  text-align: end;
}
.fourthBlock .form .firstLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.625rem;
}
.fourthBlock .form .firstLine div {
  text-align: end;
  width: 100%;
}
.fourthBlock .form .firstLine div label {
  font-family: "almoni";
  font-weight: 700;
  font-size: 1rem;
}
.fourthBlock .form .firstLine div input {
  line-height: 1;
}
.fourthBlock .form .firstLine div input,
.fourthBlock .form .commentsArea {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  text-align: right;
  margin: 0.3125rem 0;
  border: 1px solid #CFCFCF;
}
.fourthBlock .form .firstLine div,
.fourthBlock .form .commentsArea {
  line-height: 1;
  resize: none;
}
.fourthBlock .form .btn {
  width: 100%;
  margin: 1rem 0;
  height: 3rem;
  border: none;
  background-color: #CE2C15;
  color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.fourthBlock .form .btn .btnText {
  font-family: "almoni";
  font-weight: 700;
  font-size: 1.25rem;
  margin-right: 10.6875rem;
}
.fourthBlock .form .btn img {
  margin-right: 7.125rem;
}
.fourthBlock .form .FIOConteiner {
  order: 2;
  margin-left: 0.625rem;
}
.fourthBlock .form .PHONEConteiner {
  order: 1;
  margin-right: 0.625rem;
}
.fourthBlock .form .commentLabel {
  margin-bottom: 0.4375rem;
  margin-top: 0.625rem;
  font-family: "almoni";
  font-weight: 700;
  font-size: 1rem;
}