.header {
  width: 100%;
  font-family: "almoni";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 105%;
}
.header_firstLine {
  height: 2.5rem;
  width: 100%;
  font-family: "almoni";
  font-weight: 500;
  font-size: 0.875rem;
  color: #FAFAFA;
}
.header_firstLine .sectionInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header_firstLine-social {
  order: 1;
}
.header_firstLine-social img {
  margin: 0 1rem 0 0;
}
.header_firstLine-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  order: 2;
}
.header_firstLine-contacts-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header_firstLine-contacts-item address {
  display: inline;
  font-style: normal;
}
.header_firstLine-contacts-item img {
  margin-right: 1.8125rem;
  margin-left: 0.625rem;
  float: right;
}
.header_firstLine-contacts-item:last-child img {
  margin-right: 0;
}
.header_firstLine-contacts a {
  color: #FAFAFA;
  text-decoration: none;
}
.header_secondLine {
  height: 5rem;
  font-size: 1.25rem;
  width: 100%;
}
.header_secondLine .sectionInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header_secondLine-contacts-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}
.header_secondLine-contacts-phone .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  margin-right: 0.9375rem;
  width: 7.1875rem;
}
.header_secondLine-contacts-phone .text a {
  text-decoration: none;
  color: #070F22;
  font-family: "almoni";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 120%;
}
.header_secondLine-contacts-phone .text .title {
  color: #0F2350;
  font-size: 1rem;
}
.header_secondLine-contacts-phone img {
  width: 2.4375rem;
  height: 2.4375rem;
}
.header_secondLine-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 40.8125rem;
  color: #070F22;
}
.header_secondLine-nav a {
  color: #070F22;
}
.header_secondLine-nav a:hover {
  font-family: "almoni";
  font-weight: 700;
  font-size: 0.875rem;
}
.header_secondLine-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #0F2350;
  height: 3.4375rem;
}
.header_secondLine-logo .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-right: 0.9375rem;
  height: 100%;
}
.header_secondLine-logo .title {
  font-family: "almoni";
  font-weight: 700;
  font-size: 2.5rem;
  color: #0F2350;
}
.header_secondLine-logo .subTitle {
  font-family: "almoni";
  font-weight: 500;
  font-size: 1.0625rem;
  color: #888888;
}
.header_secondLine-logo img {
  widows: 3.4375rem;
  height: 3.4375rem;
}