@media (min-width: 768px) {
  body {
    font-size: 8px;
  }

  .fistBlock .sectionInner .firsBlock_card {
    width: 22%;
  }

  .secondBlock .sectionInner .men {
    width: 50%;
  }

  .thirdBlock .sectionInner .companiesLogo .companyLogo {
    width: 20%;
  }

  .fourthBlock .sectionInner .form .btn {
    height: 40px;
  }

  .fifthBlock .sectionInner .news .smallNews .smallNewsList .newsItem {
    max-width: 45%;
  }

  .fifthBlock .sectionInner .news .smallNews .newsItem img {
    width: 40%;
  }

  .fifthBlock .sectionInner .news .bigNews .bigNewsImg {
    width: 28vw;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 10px;
  }

  .secondBlock .sectionInner .men {
    width: 40%;
  }

  .fifthBlock .sectionInner .news .smallNews .newsItem img {
    width: 30%;
  }

  .fourthBlock .sectionInner .form .btn {
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .sectionInner {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .thirdBlock .sectionInner .companiesLogo .companyLogo {
    width: 15%;
  }

  .fifthBlock .sectionInner .news .smallNews .newsItem img {
    width: 50%;
  }

  .fifthBlock .sectionInner .news .bigNews .bigNewsImg {
    width: 28vw;
  }

  .secondBlock .sectionInner .men {
    width: 35%;
  }
}
@media (min-width: 1400px) {
  .fifthBlock .sectionInner .news .bigNews .bigNewsImg {
    width: 25vw;
  }

  .secondBlock .sectionInner .men {
    width: 35%;
  }
}
@media (min-width: 1920px) {
  .fifthBlock .sectionInner .news .bigNews .bigNewsImg {
    width: 18vw;
  }

  .secondBlock .sectionInner .men {
    width: 60%;
  }
}