@media (max-width: 1199px) {
  html {
    font-size: 14px;
  }

  .sectionInner {
    padding: 0 1.25rem;
  }

  .firstBlock_card {
    width: 15.625rem;
  }

  .fifthBlock .news .smallNews .smallNewsList .newsItem {
    background-color: #fafafa;
    width: 21.25rem;
  }

  .footer hr {
    margin: 0;
    margin-bottom: 10px;
  }
  .footer .lastLineFooter {
    margin-top: 0rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 11px;
  }

  .sectionInner {
    padding: 0 1.25rem;
  }

  .fourthBlock .contacts .contact > img {
    width: 3rem;
  }

  .fifthBlock .news .smallNews .smallNewsList .newsItem {
    background-color: #fafafa;
    width: 20.8125rem;
  }

  .footer hr {
    margin: 0;
    margin-bottom: 10px;
  }
  .footer .lastLineFooter {
    margin-top: 0rem;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 8px;
  }

  .sectionInner {
    padding: 0 1.25rem;
  }

  .fourthBlock .contacts .contact > img {
    width: 3rem;
  }

  .fifthBlock .news .smallNews .smallNewsList .newsItem {
    background-color: #fafafa;
    width: 20.8125rem;
  }

  .footer hr {
    margin: 0;
    margin-bottom: 10px;
  }
  .footer .lastLineFooter {
    margin-top: 0rem;
  }
}