@import 'mixins.scss';
.fifthBlock{
    background-color: #0F2350;
    width: 100%;
    height: toRem(589);
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .title{
        @include almoniBlack(48);
        color: #FAFAFA;
    }
    .news{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .smallNews{
            width: 100%;
            height: toRem(426);
            
            .smallNewsList{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-right: toRem(20);
                
                .newsItem{
                    background-color: #fafafa;
                    width: toRem(375);
                    height: toRem(182);
                    padding: toRem(10);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    &:nth-child(4n+1),
                    &:nth-child(4n+2){
                        margin-bottom: toRem(20);
                    }

                    .text {
                        order: 1;
                        text-align: end;
                        margin-right: toRem(20);
                        .title {
                            color: #0F2350;
                            @include almoniBold(24);
                        }
                        .subTitle {
                            @include almoniRegular(18);
                            color: #0F2350;
                        }
                    }
                    img {
                        object-fit:cover;
                        order: 2;
                        width: toRem(147);
                        height: toRem(162);
                    }
                }
            }
            .more{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: toRem(16);
                color: #fafafa;
                margin: toRem(12) toRem(20) toRem(12) 0;
            }
            hr{
                height: 1px;
                border: 0;
                background-color: #ECECEC;
                margin: 0 toRem(20) 0 0;
            }
        }
        .bigNews{
            height: toRem(426);
            width: toRem(376);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            background-color: #fafafa;
            text-align: end;
            .bigNewsImg{
                width: toRem(376);
                height: toRem(200);
                object-fit: cover;
            }
            .text{
                padding: 0 toRem(20) toRem(10);
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                width: 100%;
                .title{
                    color: #0F2350;
                    @include almoniBold(32);
                    margin-bottom: toRem(10);
                }
                .subTitle {
                    @include almoniRegular(20);
                    color: #0F2350;
                    text-align: end;
                    margin-top: toRem(10);
                }
                .date{
                    @include almoniRegular(14);
                    color: #CFCFCF;
                }
            }
            
            hr{
                width: 80%;
                color: #ECECEC;
                align-self: center;
            }
            .more{
                width: 100%;
                padding: 0 toRem(20);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: #CE2C15;
                margin-bottom: toRem(10);
                font-size: toRem(16);
            }
        }
    }
}