@import 'mixins.scss';
.firstBlock {
    position: absolute;
    width: 100%;
    top: toRem(570);
    
    & .sectionInner {
        position: relative;
        z-index: 20;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    &_card {
        width: toRem(270);
        height: toRem(300);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        color: #0F2350;
        padding: 0 toRem(20);
        box-shadow: 0 4px 5px 2px rgba(184, 183, 183, 0.678);
    
        .logoCard{
            padding-top: toRem(25);
            width: toRem(80+25);
            height: toRem(80+25);
        }
        & hr {
            width: toRem(231);
            height: 1px;
            border: 0;
            background-color: #ECECEC;
            margin-top: toRem(30);
          }
        
        & .text {
            height: toRem(89);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding-top: toRem(60);
            
            & .title {
                @include almoniBold(24);
                // font-size: 24px;
                text-align: right;
                margin-bottom: toRem(5);
                color: #0F2350;
            }
            
            & .subTitle {
                @include almoniRegular(18);
                // font-size: 18px;
                text-align: right;
                color: #888888;
            }
        }
        
        & .more {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #CE2C15;
            @include almoniBold(16);
            // font-size: 16px;
        }
    }
}