@import 'mixins.scss';
.footer{
    background-color: #070F22;
    width: 100%;
    height: toRem(500);
    color: #CFCFCF;
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .mainFooter{
        margin-top: toRem(27);
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .footerList{
            list-style: none;
            text-align: end;  
            .footerListItem{
                margin-top: toRem(7);
                a{
                    text-decoration: none;
                    color: #CFCFCF;
                    @include almoniRegular(20);
                    // font-size: 20px;
                }
                // &:first-child{
                //     margin-top: 0;
                // }
            }
        }
        .title{
            @include almoniBold(24);
            // font-size: 24px;
            
        }
        hr{ 
            width: 100%;
            border: none; /* Убираем границу для браузера Firefox */
            color: #cfcfcf88; /* Цвет линии для остальных браузеров */
            background-color: #cfcfcf88; /* Цвет линии для браузера Firefox и Opera */
            height: 2px; /* Толщина линии */
            margin: 10px 0;
        }
        .contacts{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            height: 100%;
            width: 25%;
            color: #ECECEC;
            .title{
                font-weight: 900;
                font-size: 480%;
                color: #0F2350;
                margin-bottom: toRem(20);
            }
            
            .contact{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                margin-bottom: toRem(18);
                text-align: end;
                &>img{
                    margin-left: toRem(20);
                }
                .text .title{
                    font-weight: 900;
                    font-size: 400%;
                    color: #ececec;
                }
                .firstLine{
                    font-size: 220%;
                    margin-bottom: toRem(5);
                }
                .secondLine{
                    font-size: 160%;
                }
                .secondLine,
                a{
                    color: #ffffff7e;
                    font-style: normal;
                }
            }
            
        }
        .time{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            width: 22%;
            .timeText{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: toRem(5);
                .text{
                    .firstLine{
                        text-align: right;
                        @include almoniBold(22);
                        // font-size: 22px;
                    }
                    .secondLine{
                        text-align: right;
                        @include almoniRegular(18);
                        // font-size: 18px;
                    }
                }
                img{
                    margin-left: toRem(10);
                } 
            }
        }
        .category{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            width: 20%;
        }
        .footerMenu{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            width: 20%;
        }
    
    }
    hr{
        width: 100%;
        border: none; /* Убираем границу для браузера Firefox */
        color: #99999914; /* Цвет линии для остальных браузеров */
        background-color: #99999914; /* Цвет линии для браузера Firefox и Opera */
        height: 1px; /* Толщина линии */
        margin: 10px 0;
    }

    .lastLineFooter{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: toRem(24);
        .design {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .text{
                border: none;
                border-left: 1px solid #CFCFCF;
                color: #CFCFCF;
                @include almoniLight(15);
                line-height: 2;
                margin-left: toRem(10);
                padding-left: toRem(10);
            }
        }
        .messangers img{
            margin-right: toRem(20);
        }
        .copyright{
            @include almoniLight(15)
        }
    }
}