@import 'mixins.scss';
.fourthBlock{
    width: 100%;
    height: toRem(412);
    margin-top: 50px;
    .sectionInner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .information{
        order:3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 26%;
        height: 100%;
        
        .title{
            @include almoniBlack(38);
            // font-size: 38px;
            color: #0F2350;
            margin-bottom: toRem(34);
        }
        .subTitle{
            @include almoniRegular(20);
            // font-size: 20px;
            text-align: end;
            color: #0F2350;
        }
        
    } 
    .contacts{
        order:2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        width: 28%;
        .title{
            @include almoniBlack(38);
            // font-size: 38px;
            color: #0F2350;
            margin-bottom: toRem(34);
        }
        .contact{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: toRem(20);
            text-align: end;
            font-size: toRem(16);
            &>img{
                margin-left: toRem(20);
            }
            .firstLine{
                @include almoniBold(22);
                // font-size: 22px;                
            }
            .secondLine{
                color: #070F22;
                font-style: normal;
                @include almoniRegular(18);
                // font-size: 18px;
            }
             a{
                color: #070F22;
            }
        }
    }
    .form{
        order:1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        width: 36%;
        .title{
            @include almoniBlack(38);
            // font-size: 38px;
            color: #0F2350;
            margin-bottom: toRem(34);
            width: 100%;
            text-align: end;
        }
        .firstLine{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: toRem(10);
            div{
                text-align: end;
                width: 100%;
                label{
                    @include almoniBold(16);
                    // font-size: 16px;
                }
                input{
                    margin: toRem(5) 0;
                    line-height: 1;
                }
            }
        }
        .firstLine div input,
        .commentsArea{
            width: 100%;
            padding: toRem(10);
            font-size: toRem(16);
            text-align: right;
        }
    
        .firstLine div, 
        .commentsArea{
            line-height: 1;
            resize: none;
        }
        .btn{
            width: toRem(418);
            margin: toRem(16) 0;
            height: toRem(48);
            border: none;
            background-color: #CE2C15;
            color: #FAFAFA;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .btnText{
                @include almoniBold(20);
                // font-size: 20px;   
                margin-right: toRem(171);
            }
            img{
                margin-right: toRem(114);
            }
        }
        .FIOConteiner{
            order: 2;
            margin-left: toRem(10);
        }
        .PHONEConteiner{
            order:1;
            margin-right: toRem(10);
        }
        .commentLabel{
            margin-bottom: toRem(7);
            margin-top: toRem(10);
            @include almoniBold(16);
            // font-size: 16px;    
        }
    }
}

// .fourthBlock .sectionInner .form .firstLine div input::placeholder,
// .fourthBlock .sectionInner .form .commentsArea::placeholder,
// .fourthBlock .sectionInner .form .firstLine div input:placeholder-shown,
// .fourthBlock .sectionInner .form .commentsArea:placeholder-shown{
//     direction: rtl;
// }