@import 'mixins.scss';
.fourthBlock{
    width: 100%;
    height: 412px;
    margin-top: 50px;
    .sectionInner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .information{
        order:3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 26%;
        height: 100%;
        
        .title{
            @include almoniBlack;
            font-size: 38px;
            color: #0F2350;
            margin-bottom: 34px;
        }
        .subTitle{
            @include almoniRegular;
            font-size: 20px;
            text-align: end;
            color: #0F2350;
        }
        
    } 
    .contacts{
        order:2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        width: 28%;
        .title{
            @include almoniBlack;
            font-size: 38px;
            color: #0F2350;
            margin-bottom: 34px;
        }
        .contact{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            margin-bottom: 20px;
            text-align: end;
            font-size: 160%;
            &>img{
                margin-left: 20px;
            }
            .firstLine{
                @include almoniBold;
                font-size: 22px;                
            }
            .secondLine{
                color: #070F22;
                font-style: normal;
                @include almoniRegular;
                font-size: 18px;
            }
             a{
                color: #070F22;
            }
        }
    }
    .form{
        order:1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        width: 36%;
        .title{
            @include almoniBlack;
            font-size: 38px;
            color: #0F2350;
            margin-bottom: 34px;
            width: 100%;
            text-align: end;
        }
        .firstLine{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;
            div{
                text-align: end;
                width: 100%;
                label{
                    @include almoniBold;
                    font-size: 16px;
                }
                input{
                    margin: 5px 0;
                    line-height: 1;
                }
            }
        }
        .firstLine div input,
        .commentsArea{
            width: 100%;
            padding: 10px;
            font-size: 160%;
            text-align: right;
        }
    
        .firstLine div, 
        .commentsArea{
            line-height: 1;
            resize: none;
        }
        .btn{
            width: 418px;
            margin: 16px 0;
            height: 48px;
            border: none;
            background-color: #CE2C15;
            color: #FAFAFA;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .btnText{
                @include almoniBold;
                font-size: 20px;   
                margin-right: 171px;
            }
            img{
                margin-right: 114px;
            }
        }
        .FIOConteiner{
            order: 2;
            margin-left: 10px;
        }
        .PHONEConteiner{
            order:1;
            margin-right: 10px;
        }
        .commentLabel{
            margin-bottom: 7px;
            margin-top: 10px;
            @include almoniBold;
            font-size: 16px;    
        }
    }
}

// .fourthBlock .sectionInner .form .firstLine div input::placeholder,
// .fourthBlock .sectionInner .form .commentsArea::placeholder,
// .fourthBlock .sectionInner .form .firstLine div input:placeholder-shown,
// .fourthBlock .sectionInner .form .commentsArea:placeholder-shown{
//     direction: rtl;
// }