@import 'mixins.scss';
.header {
    width: 100%;
    @include almoniRegular(14);
    line-height: 105%;

    
    &_firstLine {
        
        height: toRem(40);
        width: 100%;
        @include almoniRegular(14);
        // font-size: 14px;
        color: #FAFAFA;
        
        & .sectionInner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        
        &-social {
            order: 1;
            
            & img {
                margin: 0 toRem(16) 0 0;
            }
        }
               
        &-contacts {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            order: 2;
            
            &-item{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                & address {
                    display: inline;
                    font-style: normal;
                }
                
                & img {
                    margin-right: toRem(29);
                    margin-left: toRem(10);
                    float: right;
                }
                &:last-child{
                    img {
                        margin-right: 0;
                    }
                } 

            }

            & a {
                color: #FAFAFA;
                text-decoration: none;
            }
        }
        
    }
    &_secondLine {
        height: toRem(80);
        font-size: toRem(20);
        width: 100%;

        
        & .sectionInner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        
        &-contacts-phone {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: toRem(40);
        
        
            & .text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
                height: 100%;
                margin-right: toRem(15);
                width: toRem(115);
                
                & a {
                    text-decoration: none;
                    color: #070F22;
                    @include almoniBold(24);
                    // font-size: 24px;
                    line-height: 120%;
                }
                
                & .title {
                    color: #0F2350;
                    font-size: toRem(16);
                }
            }
            & img{
                width: toRem(40);
                height: toRem(40);
            }
        }
        &-nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            width: toRem(653);
            color: #070F22;
            
            & a {
                color: #070F22;
            &:hover{
                @include almoniBold(14);
            }
            }

        }
        
        &-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: #0F2350;
            height: toRem(55);
            
            & .text {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-around;
                margin-right: toRem(15);
                height: 100%;
            }
            
            & .title {
                @include almoniBold(40);
                // font-size: 40px;
                color: #0F2350;
                // line-height: 105%
            }
            
            & .subTitle {
                @include almoniRegular(17);
                // font-size: 17px;
                color: #888888;
                // line-height: 105%
            }
            & img{
                widows: toRem(55);
                height: toRem(55);
            }
        }
        
    }
}