@import 'mixins.scss';
.logo {
    width: 100%;
    height: toRem(590);
    background: #0F2350 url("/img/png/banner.png") 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    color: #FAFAFA; 
    
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #0f23504D;
    }
    
    & .sectionInner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    
    & .title {
        @include almoniBlack(64);
        margin-bottom: toRem(19)
        
    }
    
    & .subtitle {
        @include almoniBold(25);
        margin-bottom: toRem(28)
        
    }
    
    & .btn {
        color: #FAFAFA; 
        width: toRem(278);
        height: toRem(60);
        border: none;
        background-color: #0F2350;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: toRem(115);

        @include almoniBold(20);
        bdo{
            margin-right: toRem(60);
        }
    }
}