@import 'mixins.scss';
@media (max-width: (1200-1)+px) {
    html{
        font-size: 14px;
    }
    .sectionInner {
        padding: 0 toRem(20); 
    }
    .firstBlock {
        &_card {
            width: toRem(250);
        }
    }
    .fifthBlock{
        .news{
            .smallNews{
                .smallNewsList{
                    .newsItem{
                        background-color: #fafafa;
                        width: toRem(340);
                    }
                }
            }
        }
    }
    .footer{
        hr{
            margin: 0;
            margin-bottom: 10px;
        }
        .lastLineFooter{
            margin-top: toRem(0);
        }
    }
}
@media (max-width: (992-1)+px) {
    html{
        font-size: 11px;
    }
    .sectionInner {
        padding: 0 toRem(20); 
    }

    .fourthBlock {

        .contacts{ 
            .contact{ 
                &> img{
                    width: toRem(48);
                }
            }
        }
    }
    .fifthBlock{
        .news{
            .smallNews{
                .smallNewsList{
                    .newsItem{
                        background-color: #fafafa;
                        width: toRem(333);
                    }
                }
            }
        }
    }
    .footer{
        hr{
            margin: 0;
            margin-bottom: 10px;
        }
        .lastLineFooter{
            margin-top: toRem(0);
        }
    }
}
@media (max-width: (768-1)+px) {
    html{
        font-size: 8px;
    }
    .sectionInner {
        padding: 0 toRem(20); 
    }
    .fourthBlock {

        .contacts{ 
            .contact{ 
                &> img{
                    width: toRem(48);
                }
            }
        }
    }
    .fifthBlock{
        .news{
            .smallNews{
                .smallNewsList{
                    .newsItem{
                        background-color: #fafafa;
                        width: toRem(333);
                    }
                }
            }
        }
    }
    .footer{
        hr{
            margin: 0;
            margin-bottom: 10px;
        }
        .lastLineFooter{
            margin-top: toRem(0);
        }
    }
}