@mixin almoniLight {
    font-family: "almoni";
    font-weight: 300;
}
@mixin almoniRegular {
    font-family: "almoni";
    font-weight: 500;
}
@mixin almoniBold {
    font-family: "almoni";
    font-weight: 700;
}
@mixin almoniBlack {
    font-family: "almoni";
    font-weight: 900;
}