@import 'mixins.scss';
.secondBlock{
    width: 100%;
    height: toRem(743);
    background: #fff url("/img/png/bgPrev.png") 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    color: #070F22;
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(236, 236, 236, 0.76); 
    }
    .sectionInner{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        z-index:10;
    }
    .men{
        width: toRem(465);
        height: toRem(582);
    }
    .aboutCompany{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: toRem(70);
        .title{
            @include almoniBlack(48);
            // font-size: 48px;
            color: #0F2350;
            margin-bottom: toRem(6);
            
        }
        .subTitle{
            @include almoniBold(28);
            // font-size: 28px;
            color: #0F2350;
            margin-bottom: toRem(20);
        }
        .list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: toRem(28);
            
        }
        .listItem{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center; 
            margin: toRem(10) 0;
            @include almoniRegular(20);
            // font-size: 20px;
            img{
                order: 2;
                margin: 0 toRem(10);
                width: toRem(32);
                height: toRem(32);
            }
        }
        .text{
            text-align: right;
            @include almoniRegular(20);
            // font-size: 20px; 
            margin-bottom: toRem(30);
            .firstParagraph{
                margin-bottom: toRem(30);
            }
        }
        .btn{
            width: toRem(179);
            height: toRem(42);
            @include almoniBold(20);
            // font-size: 20px;
            border: none;
            background-color: #CE2C15;
            color: #FAFAFA;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}