@import 'mixins.scss';
.secondBlock{
    width: 100%;
    height: 743px;
    background: #fff url("/img/png/bgPrev.png") 50% 346px no-repeat;
    background-size: contain;
    position: relative;
    color: #070F22;
    &::before {
        content: '';
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(236, 236, 236, 0.76); 
    }
    .sectionInner{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        z-index:10;
    }
    .men{
        width: 465px;
        height: 582px;
    }
    .aboutCompany{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 70px;
        .title{
            @include almoniBlack;
            font-size: 48px;
            color: #0F2350;
            margin-bottom: 6px;
            
        }
        .subTitle{
            @include almoniBold;
            font-size: 28px;
            color: #0F2350;
            margin-bottom: 20px;
        }
        .list{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 28px;
            
        }
        .listItem{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center; 
            margin: 10px 0;
            @include almoniRegular;
            font-size: 20px;
            img{
                order: 2;
                margin: 0 10px;
                width: 32px;
                height: 32px;
            }
        }
        .text{
            text-align: right;
            @include almoniRegular;
            font-size: 20px; 
            margin-bottom: 30px;
            .firstParagraph{
                margin-bottom: 30px;
            }
        }
        .btn{
            width: 179px;
            height: 42px;
            @include almoniBold;
            font-size: 20px;
            border: none;
            background-color: #CE2C15;
            color: #FAFAFA;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}